 body{
     margin-left: 0;
 }
 .header{
    display: inline-block;
 }
 .header li{
     display: inline-block;
 }
 h1{
     font-size:50px;
 }
 h3{
  font-size: 15px;
  color: rgb(104, 95, 95);
 }

 .header li a{
     
     color: rgb(8, 168, 133);
     text-decoration: none;
     padding: 34px 23px;
     font-size: 26px;
     float: left;
     font-size: 25px;
     cursor: pointer;
 } 
 .RED-ORANGE{
     color:rgb(255, 15, 15)
 }
.seperate{
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 10%;
    padding-left: 10%;
}
.seperate img{
    width: 120%;
}
.pink{
    color: rgb(3, 99, 78);
}
.BLUE{
    color: rgb(14, 14, 233);
}
.BUTTON{
    text-decoration: none;
    background-image: linear-gradient(yellow lightgreen green);    
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(3, 2, 2);
    border-color: black;
    font-weight: 750px;
    background-color: rgb(35, 250, 196);  
    padding: 23px 15px;
      }
.small{
    width: 25%;
    height: 27%;
    margin-right:25px;
    padding: 100px  65px;
     float: left;
    
    }
.small img{
    width: 100%;
    padding-right: 90%;
}