 body{
     margin-left: 0;
 }
 .header{
    display: inline-block;
 }
 .header li{
     display: inline-block;
 }
 h1{
     font-size:50px;
 }
 
 h4{
     font-size: 25px;
 }

 h3{
  font-size: 18px;
  color: rgb(104, 95, 95);
 }

 .header li a{
     
     color: rgb(8, 168, 133);
     text-decoration: none;
     padding: 34px 23px;
     font-size: 26px;
     float: left;
     font-size: 25px;
     cursor: pointer;
 } 
 .RED-ORANGE{
     color:rgb(255, 15, 15)
 }
.seperate{
    width: 40%;
    float: left;
    margin:3%;
    padding-left:1%;
         }
.seperate img{
    width: 100%;
    float: right; 
}
.pink{
    color: rgb(3, 99, 78);
}
.BLUE{
    color: rgb(14, 14, 233);
}
.BUTTON{
    text-decoration: none;
    background-image: linear-gradient(yellow lightgreen green);    
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(3, 2, 2);
    border-color: black;
    font-weight: 750px;
    background-color: rgb(35, 250, 196);  
    padding: 23px 15px;
      }
.small{
    width: 40%;
    margin:3%;
    margin-top: 130px;
    padding-left:1%;
    padding-top: 35px;
    border-radius: 100%;
      }
.small img{
    width: 130%;
    }

.About{
    padding:30px 45px;   
    text-align: center; 
}
.design-head{
    color: rgba(4, 136, 136, 0.897);
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
}
.fancy{
    color: rgb(13, 182, 13);
}
section{
    height: 700px;
}
.BUTTON1{
    text-decoration: none;
    background-image: linear-gradient(yellow lightgreen green);    
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(239, 243, 242);
    border-color: black;
    font-weight: 750px;
    background-color: rgb(231, 116, 116);  
    padding: 23px 15px;
}